<a href="https://colab.research.google.com/github/Asanchez327/Deliverable5/blob/master/Copy_of_Deliverable6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Step(1): Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
# Step (2): Loading iris dataset
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# Step (3): Dropping the "species" column 
iris = iris.drop(labels = 'species', axis = 1)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
# Step (4): Adding Columns
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum
0           5.1          3.5           1.4          0.2        8.6
1           4.9          3.0           1.4          0.2        7.9
2           4.7          3.2           1.3          0.2        7.9
3           4.6          3.1           1.5          0.2        7.7
4           5.0          3.6           1.4          0.2        8.6

In [ ]:
# Step(4): Adding Columns
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_sum  petal_sum
0           5.1          3.5           1.4          0.2        8.6        1.6
1           4.9          3.0           1.4          0.2        7.9        1.6
2           4.7          3.2           1.3          0.2        7.9        1.5
3           4.6          3.1           1.5          0.2        7.7        1.7
4           5.0          3.6           1.4          0.2        8.6        1.6

In [ ]:
std= list(iris.std())
summary_dict = {'std': std}
summary_df = pd.DataFrame(data = summary_dict)
summary_df

        std
0  0.828066
1  0.435866
2  1.765298
3  0.762238
4  0.889272
5  2.507689

In [ ]:
mean= list(iris.mean())
summary_dict = {'mean': mean}
summary_df = pd.DataFrame(data = summary_dict)
summary_df

       mean
0  5.843333
1  3.057333
2  3.758000
3  1.199333
4  8.900667
5  4.957333

In [ ]:
min= list(iris.min())
summary_dict = {'min': min}
summary_df = pd.DataFrame(data = summary_dict)
summary_df

   min
0  4.3
1  2.0
2  1.0
3  0.1
4  6.8
5  1.2

In [ ]:
max= list(iris.max())
summary_dict = {'max': max}
summary_df = pd.DataFrame(data = summary_dict)
summary_df

    max
0   7.9
1   4.4
2   6.9
3   2.5
4  11.7
5   9.2

In [ ]:
df1 = pd.DataFrame({'max': ['7.9', '4.4', '6.9', '2.5','11.7', '9.2'],
                    'min': ['4.3', '2.0', '1.0', '0.1', '6.8', '1.2']})
  
df3 = pd.DataFrame({'mean': ['5.843333', '3.057333', '3.758000', '1.199333', '8.900667', '4.957333'],
                    'std': ['0.828066', '0.435866', '1.765298', '0.762238', '0.889272', '2.507689']})
  
# the default behaviour is join='outer'
# inner join
  
result = pd.concat([df1, df3], axis=1, join='inner')
display(result)

    max  min      mean       std
0   7.9  4.3  5.843333  0.828066
1   4.4  2.0  3.057333  0.435866
2   6.9  1.0  3.758000  1.765298
3   2.5  0.1  1.199333  0.762238
4  11.7  6.8  8.900667  0.889272
5   9.2  1.2  4.957333  2.507689